.topbar{
	margin-left:0;
	top:-10px;
	left:-10px;
	width:100%;
	position: relative;
	border:1px red dotted;
	background-color: green;
	z-index: 2;
	display: inline-block;
}
.logo-wrapper{
	border:5px solid black;
	border-radius:10px;
	width:auto;
	height:auto;
	top:0px;
	left:0px;
	position:absolute;
	z-index: 2;
}
.logo-wrapper #logo{
	margin:auto;
	vertical-align: middle;
	border:2px solid red;
	width:auto;
	height:auto;
	z-index: 2;
}
.logo-wrapper img{
	height:auto;
	width:auto;
	margin:auto;
	max-height: 125px;
	position: relative;
	z-index: 2;
}
.sidebar{
	background-color: green;
	left:0;
	width:150px;
	height:500px;
	position:absolute;
	z-index: 1;
}
#nav-wrapper{
	left:180px;
	border:solid black 10px;
	display:inline-block;
	position:relative;
	top:0px;
	text-align: center;
}
.navbutton{
		display:inline-block;
		height:50px;
		width:150px;
		border-radius:5px;
		border:solid orange 2px;
		top:100px;
		left:0px;
		text-align:center;
		vertical-align: middle;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,185,232,0)), color-stop(100%,rgba(33,83,183,1)));
	}
.extra-nav-button{
	display:inline-block;
	height:50px;
	width:150px;
	border-radius:5px;
	border:solid orange 2px;
	text-align: center;
	position:relative;
	margin-left: 50px;
	vertical-align: text-bottom;
}
#submenu{
	font-size:35px;
	border:2px black solid;
	display:none;
	background-color: blue;
	top:-10px;
}
.menu #submenu li{
	font-size: 20px;
}
.search-wrapper{
	border:solid green 2px;
	margin-right: 35%;
	width:auto;
	margin-left:35%;
	background-color: yellow;
}
html, .page-wrapper{
	z-index: 1;
	background-color: black;
	width:100%;
	height:100%;
}
.content-wrapper{
	margin-right: 3cm;
	background-color: green;
	margin-left: 4cm;
	z-index: 1;
}
.main-footer{
	background-color: #E6E6E6;
}
.main-footer h1{
	font-family: Comic Sans MS;
	font: #754719;
	text-align: center;
	height:150px;
	text-decoration: blink;
}
.secondary-footer{
	background-color: #b2b2b2;
	text-align: center;
}