.topbar{
	margin:auto;
	top:-10px;
	left:-10px;
	position: relative;
	border:1px red dotted;
	background-color: maroon;
}
.logo-wrapper{
	border:5px solid black;
	border-radius:10px;
	width:auto;
	height:auto;
	top:0px;
	left:0px;
	position:absolute;
}
.logo-wrapper #logo{
	margin:auto;
	vertical-align: middle;
	border:2px solid red;
	width:auto;
}
.logo-wrapper img{
	height:auto;
	width:auto;
	margin:auto;
	max-height: 100px;
	position: relative;
}
#nav-wrapper{
	left:180px;
	border:solid black 10px;
	display:inline-block;
	position:relative;
	top:0px;
	text-align: center;
}
.navbutton{
		display:inline-block;
		height:50px;
		width:150px;
		border-radius:5px;
		border:solid orange 2px;
		top:100px;
		left:0px;
		text-align:center;
		vertical-align: middle;
		background-color: red;
	}
#submenu{
	font-size:35px;
	border:2px black solid;
	display:none;
	background-color: blue;
	top:-10px;
}
.menu #submenu li{
	font-size: 20px;
}
.search{
	margin:auto;
	vertical-align: middle;
	margin: auto;
	text-align: center;
}
.search-wrapper{
	border:solid green 2px;
	margin-right: 35%;
	width:auto;
	margin-left:35%;
}
.main-footer{
	background-color: #E6E6E6;
}
.main-footer h1{
	font-family: Comic Sans MS;
	font: #754719;
	text-align: center;
	height:150px;
	text-decoration: blink;
}
.secondary-footer{
	background-color: #b2b2b2;
	text-align: center;
}