<!DOCTYPE html>
<html>
<title>
Texas Craft Beer
</title>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			//menu dropdown
			$(".menu").on('hover', function(e){
				if (e.type == "mouseenter"){
					$(this).children().css("display", true)
				}
				else{
					$(this).children().css("display", none)
				}
			});

			//ajax search
			$("input#searchtext").on('keyup', function(e){
				$.ajax({
					type:"GET",
					url: "search",
					data: $(this).serialize(),
					dataType: "json",
					success: function( data ){
						//eventually work in animation
						//for swapping main body with new results
						$("<body>").html(data.html)
					},
				});
			});

		})
	</script>
	<style>
	.menu{
		display: inline-block;
		border-width: 10px;
		border-color: black;
		height: 50px;
		width: 100px;
		border-radius: 5px;
		border: solid;
	}
	ul.submenu{

	}
	</style>
	<div id="logo">
	<a href="#">Texas Craft Beers</a>
	</div>
	<ul class="main">

		<li class="menu" id="Breweries">
			<b>Breweries</b>
			<ul class="submenu">
				Region
				<li>
					Austin
				</li>
				<li>
					San Antonio
				</li>
			</ul>
		</li>

		<li class="menu" id="BrewPubs">
			BrewPubs
		</li>

		<li class="menu" id="Bars">
			Bars
		</li>

		<li class="menu" id="Beers">
			Beers
		</li>
	</ul>
</head>

<div class = "search">
	{% block search %}
	<form action="/index/">
	Search:<input id="searchtext" type="text" name="q">
	<input type="hidden" name="s" value="all" />
	<input type="submit" value="Submit" />
	</form>
	{% endblock %}
</div>

<body>
{% block body %}

{% if errors %}
{{ errors }}<!-- oof, this doesnt look right!-->
{% endif %}

<!-- Home page announcements -->
<!-- currently 4 spots of equal size-->
	<div class="anncouncement" id="spot0">
		SPOT0
		<a href="http://{{ content.0.url }}">
			<img src="{{ STATIC_URL }}{{ content.0.pic }}" height="100" />
		</a>
	</div>

	<div class="anncouncement" id="spot1">
		SPOT1
		<a href="{{ content.1.url }}">
			<img src="{{ STATIC_URL }}{{ content.1.pic.url }}" height="100" width = "100" />
		</a>
	</div>
	
	<div class="anncouncement" id="spot2">
		SPOT2
		<a href="{{ content.2.url }}">
			<img src='{{ STATIC_URL }}{{ content.2.pic }}' height="100" width = "100" />
		</a>
	</div>

	<div class="anncouncement" id="spot3">
		SPOT3
		<a href="{{ content.3.url }}">
			<img src="{{ STATIC_URL }}{{ content.3.pic }}" height="100" width = "100"/>
		</a>
	</div>

{%  endblock %}
</body>
<footer>
	Site made by idiots </br>
	arnol229@gmail.com
</footer>
</html>