<!DOCTYPE html>
{% load static %}
<html>
<title>
Texas Craft Beer
</title>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<link rel="stylesheet" type='text/css' src ="{% static 'css/base.css' %}">
	<script type="text/javascript" src ="{% static 'js/menhov.js' %}"></script>
	<script type="text/javascript" src ="{% static 'js/searjax.js' %}"></script>
	<script>
	$(document).ready(function(){
		$('.menu').hover(
			function(){
				$(this).children().animate(
				{"top":"+=50px"},"slow");

			function(){
				$(this).children().animate(
					{"top":"-=50px"},"slow");
			}
	});
	</script>

	<div id="logo">
	<a href="/#">Texas Craft Beers</a>
	</div>

	<ul class="main">
		<a href="/content/brewery/">
		<li class="menu" id="Breweries">
			<b>Breweries</b>
			<ul class="submenu">
				<span>Region</span>
				<br>
				<a href = '/content/brewery/Austin/'
				<li>
					Austin
				</li>
			</a>
			<a href = "/content/brewery/SanAntonio">
				<li>
					San Antonio
				</li>
			</a>
			</ul>
		</li>
	</a>

	<a href="/content/BrewPub/">
		<li class="menu" id="BrewPubs">
			BrewPubs
		</li>
	</a>

	<a href="/content/Bar/">
		<li class="menu" id="Bars">
			Bars
		</li>
	</a>

	<a href="/content/Beer/">
		<li class="menu" id="Beers">
			Beers
		</li>
	</a>
	</ul>
</head>

<div class = "search">
	<form action="/index/" id = 'search'>
	Search:<input id="searchtext" type="text" name="q">
	{% block search %}
	{% endblock %}
	<input type="submit" value="Submit" />
	</form>
</div>

<body>
{% block body %}

{% if errors %}
{{ errors }}<!-- oof, this doesnt look right!-->
{% endif %}

<!-- Home page announcements -->
<!-- currently 4 spots of equal size-->
	<div class="anncouncement" id="spot0">
		SPOT0
		<a href="http://{{ content.0.url }}">
			<img src="{{ STATIC_URL }}{{ content.0.pic }}" height="100" />
		</a>
	</div>

	<div class="anncouncement" id="spot1">
		SPOT1
		<a href="{{ content.1.url }}">
			<img src="{{ STATIC_URL }}{{ content.1.pic.url }}" height="100" width = "100" />
		</a>
	</div>
	
	<div class="anncouncement" id="spot2">
		SPOT2
		<a href="{{ content.2.url }}">
			<img src='{{ STATIC_URL }}{{ content.2.pic }}' height="100" width = "100" />
		</a>
	</div>

	<div class="anncouncement" id="spot3">
		SPOT3
		<a href="{{ content.3.url }}">
			<img src="{{ STATIC_URL }}{{ content.3.pic }}" height="100" width = "100"/>
		</a>
	</div>

{%  endblock %}
</body>
<footer>
	Site made by idiots </br>
	arnol229@gmail.com
</footer>
</html>