<!DOCTYPE html>
{% load staticfiles %}
<html>
<title>
Texas Craft Beer
</title>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<link rel="stylesheet" type='text/css' href ="{{ STATIC_URL }}css/base.css">
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
{% block extrahead %}
{% endblock %}
<script>
$(document).ready(function(){

	$('.navbutton').on('mouseenter mouseleave', function(event){
		if (event.type == 'mouseenter') {
			$(this).find('#submenu').css('display', 'block').animate();
		}
		if (event.type == 'mouseleave') {
			$(this).find('#submenu').css('display','none');
		}
	});
});
</script>

<script>
$(document).ready(function(){
	//var searchtags = 
	$.get("127.0.0.1:8000/index/",{
		s:'all'
	}).done(function(data){
		alert("Data loaded: " + data);
	});

	$('#searchtext').catcomplete({
		delay:0,
		source: searchtags
	});
});
</script>

<script>
$(document).ready(function(){
	$.ajax()
});
</script>
<div class="head-wrapper">
	<div class ="topbar">

		<div class = "logo-wrapper">
			<div id="logo">
				<a href="/#"><img src="{{ STATIC_URL }}images/craftbrewlogo.jpg" /></a>
			</div>
		</div>
	
		<div id='nav-wrapper'>
			<div class="menu">
				<a href="/content/brewery/">
				<div class="navbutton" id="Breweries">
					Breweries
					<ul id="submenu">
						<span>Region</span>
						<a href = '/content/brewery/Austin/'>
						<li>Austin</li></a>
		
						<a href = "/content/brewery/SanAntonio">
						<li>San Antonio</li></a>
					</ul>
				</div>
				</a>
			
				<a href="/content/BrewPub/">
				<div class="navbutton" id="BrewPubs">
					BrewPubs
					<ul id="submenu">
						<span>Region</span>
						<li><a href = '/content/brewery/Austin/'>
						Austin</a></li>
		
						<li><a href = "/content/brewery/SanAntonio">
						San Antonio</a></li>
					</ul>
				</div>
				</a>
			
				<a href="/content/Bar/">
				<div class="navbutton" id="Bars">
					Bars
				</div>
				</a>
	
				<a href="/content/Beer/">
				<div class="navbutton" id="Beers">
					Beers</a>
					<ul id="submenu">
						<span>Type</span>
						<li>IPA</li>
						<li>Hefe</li>
					</ul>
				</div>
				</a>
			</div>
		</div>

		<div class="search-wrapper">
			<form action="/index/" id = 'search'>
				<label for="search">Search: </label>
				<input id="searchtext" type="text" name="q">
				{% block search %}
				<input type="hidden" value="all" name="s">
				{% endblock %}
				<input type="submit" value="Submit" />
			</form>
		</div>
		
		<div class="extra-nav">
			<div class="extra-menu">
				<a href="/contact/">
				<div class = "extra-nav-button" id="contact">
					Contact
				</div></a>
				<a href="/about/">
				<div class = "extra-nav-button" id="about">
					About
				</div></a>
				<a href="/admin/">
				<div class = "extra-nav-button" id="key">
					KEY
				</div></a>
			</div>
		</div>
	</div>

	<div class ="sidebar">

	</div>
</div>
</head>

<body>
	<div class="content-wrapper">
{% block body %}
{%  endblock %}
	</div>
</body>

<footer>
	<div class="main-footer">
		<h1>Tx Craft Beer</h1>
	</div>
	<div class="secondary-footer">
		Site made by idiots </br>
		arnol229@gmail.com
	</div>
</footer>

</html>