{% extends 'base.html' %}
<head>
{% block extrahead %}
<link rel="stylesheet" href="{{ STATIC_URL }}js/nivo-slider/nivo-slider.css" type="text/css" />
<script src="{{ STATIC_URL }}js/nivo-slider/jquery.nivo.slider.pack.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}js/nivo-slider/themes/light/light.css" type="text/css" />
<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({
    	effect: 'sliceDown'
    });
});
</script>
{% endblock %}
</head>
{% block body %}
<div class = "title-wrapper">
	<div id="title">
		{{ result }}<br>
	</div>
</div>

{% if beers %}
<div class="content" id="beers">
	beers:<br>
	{% for beer in beers %}
		{{ beer.name }}<br>
	{% endfor %}
</div>
{% endif %}

{% if bars %}
<div class="content" id="bars">
	{% for bar in bars %}
		{{ bar.name }}<br>
	{% endfor %}
</div>
{% endif %}

video:{{ video }}<br>
pics:
<br>
<div class="slider-wrapper theme-light">
	<div class='ribbon'></div>
	<div id="slider" class="nivoSlider">
		{% for pic in pics %}
	    <img src="{{ STATIC_URL }}{{ pic.image }}" alt=""/>
	    {% endfor %}
	</div>
</div>
<br>
error:{% for error in errors %}
<br>
{{ error }}

{% endfor %}
<br>
{% endblock %}