{% extends 'base.html'%}
{% load extra_tags %}
{% block search %}
<input type="hidden" value="{{ subject }}" name="s">
{% endblock %}
{% block body %}
<div id="video-container">
	<b>This would be the contents video..</b>
	<video id="background-video" width='500px' height='400px' muted loop autoplay = 'true'>Your browser does not support the video.
		<source src = {{ STATIC_URL }}{{ vid }} type="video/mp4">
	</video>
</div>
{{ STATIC_URL }}{{ vid }}
<ul id = "results">
{% for result in results %}
<li><a href = '/content/{{ result | classname }}/{{ result.id }}/'>{{ result }}</a></li>
{% endfor %}
</ul>
{% endblock %}