{% extends "base.html" %}
{% block body %}
Search results for {{ query }} within the subject{{ subject|pluralize }}: {{ subject }}
<br>
<br>
{% if errors %}
<br>
{% for error in errors %}
error: {{ error }}
<br>
{% endfor %}
{% endif %}
<br>
<!-- Search Results -->
<div class = "SearchResults">
<b>Search Results</b>
{% block searchresults %}
{% if length %}
# of results: {{ length }}
{% endif %}
<br>
<br>
{{ results }}
{% for cat, objs in results.items %}
<ul>
Category:{{ cat }}
{% for obj in objs %}
<li><a href = '/content/{{ cat }}/{{ obj.id }}'>{{ obj }}</a></li>
<br>
{% endfor %}
<br>
<br>
</ul>
{% endfor %}
<br>
{% endblock %}
</div>

{% endblock %}