{% extends "base.html" %}
{% block body %}
Search results for {{ query }} within the subject{{ subject|pluralize }}: {{ subject }}
<br>
{% if errors %}
{% for error in errors %}
{{ error }}
<br>
{% endfor %}
{% endif %}

<!-- Search Results -->
{% block searchresults %}
{% if l %}
# of results: {{ l }}
{% endif %}
{% for cat_name, cat_items, more in results.items %}
<ul>
Category:{{ cat_name }}
<br>
{% for item in cat_items %}
<li>{{ item }}<img src="{{ STATIC_URL }}{{ item.pic }}" /></li>
<br>
{% endfor %}
</ul>
{% endfor %}

{% endblock %}


{% endblock %}