{% extends "base.html" %}
{% block body %}
Search results for {{ query }} within the subject{{ subject|pluralize }}: {{ subject }}
<br>
{% if errors %}
{% for error in errors %}
{{ error }}
<br>
{% endfor %}
{% endif %}

<!-- Search Results -->
{% block searchresults %}
{% if length %}
# of results: {{ length }}
{% endif %}
{% for cat_name, cat_items, more in results.items %}
<ul>
Category:{{ cat_name }}
<br>
{% for item in cat_items %}
<a href = '/{{ cat_name }}/{{ item.pk }}/'>
	<li>{{ item }}</li>
</a>
<img src="{{ STATIC_URL }}{{ item.pic }}" height="100px" width = "100px" />
<br>
{% endfor %}
</ul>
{% endfor %}

{% endblock %}


{% endblock %}