<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type = "text/css" href = "{{ STATIC_URL }}css/landing.css">
	<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
	<style>
	input[type="checkbox"]{
		display: none;
	}
	</style>
	<title>Tx Craft Beer</title>

</head>

<body>

<div class = "body-wrapper">
	<div class = "topbar"></div>

	<div class = "main-title">
		<div class = "logo-wrapper">
			<a href ='/home/'><img src = "{{ STATIC_URL }}images/craftbrewlogo.jpg" /></a>
		</div>
	</div>

	<div class = "background">
		<img src = '{{ STATIC_URL }}images/{{ image }}'/>
		{{ STATIC_URL }}images/{{ image }}
		<br>
	</div>

	<div class = "nav">
		<form action="/index/" id = 'search'>
		<div id = "textfield">
			<input id="searchtext" type="text" name="q" placeholder="Search..." autofocus>
		</div>

		<div id="catagories">
			<!-- BAR -->
			<div id="BrewPub">
				<input type="checkbox" name="s" id="bar" value="bar">
				<label for ="BrewPub"><div id="check">Filter</div></label>
				<a href="/content/BrewPub/"><div class="btn1 teal">
    	    		<h1 class='top'>BrewPubs<i></i></h1>
					<h2></h2>
				</div></a>
    		</div>

			<!-- BrewPub -->
			<div id="Bar">
				<input type="checkbox" name="s" id="brewpub" value="brewpub">
				<label for ="Bar"><div id="check">Filter</div></label>
				<a href="/content/Bar/">
    	    		<div class="btn1 orange">
    	    		<h1 class='top'>Bars<i></i></h1>
					<h2></h2>
				</div></a>
    		</div>
	
			<!-- Brewery -->
			<div id="brewery">
    	    	<input type="checkbox" name="s" id="brewery" value="brewery">
				<label for ="brewery"><div id="check">Filter</div></label>
				<a href="/content/Brewery/">
    	    		<div class="btn1 blue">
    	    		<h1 class='top'>Breweries<i></i></h1>
					<h2></h2>
				</div></a>
    		</div>
	
			<!--Beer -->
			<div id="beer">
    	   		<input type="checkbox" name="s" id="beer" value="beer" />
				<label for ="beer"><div id="check">Filter</div></label>
				<a href="/content/Beer/"><div class="btn1 green">
    	    		<h1 class='top'>Beers<i></i></h1>
					<h2></h2>
				</div></a>
    		</div>
	
		</div>

		<div id ="submit">
			<input type="submit" value="Submit" />
			<label for="submit"><img src="eyeglass.jpeg"></label>
		</div>
		</form>
	</div>

	<div class = "announce">
		<div id = "announce-expand">
			<img src = "arrowexpand.jpg">
		</div>
		<!-- \/ inject announcement div here \/ -->

	</div>
</div>
</body>

</html>